# Ignore the virtual environment
CatandDog/

# Ignore the dataset
PetImages/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore environment variables and config files
.env
*.ini
*.cfg

# Ignore system files
.DS_Store
Thumbs.db